<nav class="container-fluid menu-smartphone bg-light py-0">
    <div><a class="navbar-brand d-block"  href="{{ path('homePage') }}"><i class="fas fa-home fa-2x"></i></a></div>

    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-caret-square-up fa-2x"></i>
    </button>




    {% if not app.user %}
        <div><a class="navbar-brand d-block"  href="{{ path('login') }}"><i class="fas fa-sign-in-alt fa-2x"></i></a></div>
    {% else %}
        <div><a class="navbar-brand d-block"  href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt fa-2x"></i></a></div>
    {% endif %}
    <div class="dropdown-menu">
        <ul>
            <li class="menu-item">
                <a class="item nav-link" href="{{ path('homePage') }}">Acceuil</a>
            </li>
            <li class="menu-item">
                <a class="item nav-link" href="{{ path('homePage') }}#Tricks-list">Tricks</a>
            </li>
            {% if not app.user %}
            <li class="menu-item">
                <a class="item nav-link" href="{{ path('login') }}">connexion</a>
            </li>

            <li class="menu-item">
                <a class="item nav-link" href="{{ path('registerPage') }}">s'enregistrer</a>
            </li>

            {% else %}
                <li class="menu-item">
                <a class="item nav-link" href="{{ path('app_logout') }}">se déconnecter</a>
            </li>

            <li class="menu-item">
                <a class="item nav-link" href="{{ path('updatProfilPage') }}">Gérer mon profil</a>
             </li>
            {% endif %}
        </ul>
    </div>
</nav> 