<nav class="navbar navbar-expand-lg navbar-light bg-light py-0 " style="height:80px;">
    <div class="container-fluid">
        <div class="menu">
            <div><a class="navbar-brand"  href="{{ path('homePage') }}"><i class="fas fa-snowboarding fa-2x"></i><strong> SNOWTRICKS</strong></a></div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav">
                    <li class="menu-item">
                        <a class="item nav-link" href="{{ path('homePage') }}">Home |</a>
                    </li>
                    <li class="menu-item">
                        <a class="item nav-link" href="{{ path('homePage') }}#Tricks-list">Tricks |</a>
                    </li>
                    <li class="menu-item">
                        <a class="item nav-link" href="{{ path('login') }}">sign in |</a>
                    </li>
                    <li class="menu-item">
                        {# <a class="item nav-link" href="{{ path('registerPage') }}">sign up</a> #}
                        <a class="item nav-link" href="#">sign up</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav> 