<div class="container-card col-sm-12 col-md-12 col-lg-3">

	<div class="card px-0 mx-0 bg-light rounded-3">
	{% if figure.coverImage == "defaultCoverImage" %}
		<a href="{{ path('trickViewPage', {'slug': figure.slug} )}}" class="px-0 py-0">
			<img src="/images/coverImageDisabled.png" alt="Image de la figure par defaut" style="width:100%; display: block;">
		</a>
	{% else %}
		<a href="{{ path('trickViewPage', {'slug': figure.slug} )}}" class="px-0 py-0">
			<img src="uploads/coverImage/{{figure.coverImage}}" alt="Image de la figure" style="width:100%; display: block;">
		</a>
	{% endif %}
		<div class="card-body">
			<div class="row mx-0 px-0">
				<div class="col-12 mx-0 px-0">
					<h5 class="card-title">{{figure.name}}</h5>
				</div>
			</div>	
			{% if app.user %}
				<div class="row mx-0 px-0 d-flex flex-nowrap d-flex justify-content-end">
					<div class="col-md-4 col-lg-4 col-xl-4 mx-0 px-0 d-flex justify-content-end">
						<a href="{{ path('trickEditPage', {'slug': figure.slug} ) }}" class="btn btn-info mr-2">
							<i class="fas fa-edit"></i>
						</a>
						<a href="{{ path('trickDeletePage', {'slug': figure.slug} ) }}" class="btn btn-danger">
							<i class="fas fa-trash-alt"></i>
						</a>
					</div>
				</div>	
			{% endif %}
		</div>
	</div>
</div>
{% block javascripts %}
	<script type="text/javascript">
		const totalItemsTrick = document.querySelectorAll("container-card");
		if(totalItemsTrick.length > 12) {
			arrowUp.style.display='block';	
		}else {
			arrowUp.style.display='none';	
		}
	</script>
{% endblock %}