{% extends 'base.html.twig' %}
{% block title %}trick{% endblock %}
{% block body %}
    <div class="imageHero px-0">
		<div class="arrow-down">
			<a href="#Tricks-list">
				<i class="fas fa-arrow-down fa-3x" style="color:white;"></i>
			</a>
		</div>
	</div>
    <div class="mx-0 px-0 main-container">
        <div class="container px-0 mx-0 trick-card">
            <div class="row px-0 mx-0">
                <div class="imgHeroTrick" style="background: no-repeat url('/uploads/coverImage/{{figure.coverImage}}');">
                    <h1>{{figure.name}}</h1>
                </div>
            </div>
            <div class="manageImageHero">
                <a href="{{ path('trickEditPage', {'slug': figure.slug} )}}" class="btn btn-info">
			        <i class="fas fa-edit"></i>
				</a>
				<a href="#" class="btn btn-danger">
					<i class="fas fa-trash-alt"></i>
				</a>
            </div>    
        </div>
        <div class="container">
            <div class="row border border-primary">
                {% if app.user %}
                    <div class="col-sm-12 col-md-12 col-lg-12 d-flex justify-content-around">
                        <a href="{{ path('trickEditMediasPage', {'slug': figure.slug} )}}" class="btn btn-success mb-5 mx-auto px-auto d-block">Ajouter un média</a>
                        {# <a href="#" class="btn btn-primary my-3 mx-auto px-auto d-block">Ajouter un média</a> #}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="container bg bg-warning">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="carousel-item  active">
                            {% include "core/figures/__card_media_collection.html.twig" with {'arrayMedias': arrayMedias} %}
                        </div>
                    </div>


                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

                <div class="see-media">
			        <button class="btn btn-primary my-3" id="media-button">See media</button>
		        </div>

                <div class="row mx-0 px-0 d-flex justify-content-center align-items-center">
                    <div class="col-sm-3 col-md-3 col-lg-3 label-info"><strong>Trick créé le :  </strong>{{figure.createdAt|date("d/m/Y")}}</div>
                    <div class="col-sm-3 col-md-3 col-lg-3 label-info"><strong>Groupe du trick : </strong>{{figure.figureGroup.name}}</div>
                    <div class="col-sm-3 col-md-3 col-lg-3 label-info"><strong>Trick modifié le :  </strong>{{figure.updatedAt|date("d/m/Y")}}</div>
                </div>

                <div class="separator"></div>
                    {{form_start(formComment)}}
                    <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-8 mb-3 mx-auto">
                                {{form_widget(formComment.content)}}
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-4 mb-3 mx-auto">
                                <button class="btn btn-lg btn-primary btn-block mb-3" type="submit">Laisser un commentaire</button>
                            </div>
                    </div>
                    {{form_end(formComment)}}
                <div class="separator"></div>
                <div class="row" id="container-figures">
                    {% include "core/figures/__comments.html.twig" with {'comments': comments} %}
                </div> 
            </div>

    </div>
{% endblock %}