{% extends 'base.html.twig' %}
{% block title %}editer trick{% endblock %}
{% block body %}
    <div class="imageHero px-0">
		<div class="arrow-down">
			<a href="#Tricks-list">
				<i class="fas fa-arrow-down fa-3x" style="color:white;"></i>
			</a>
		</div>
	</div>
    <div class="mx-0 px-0 main-container">
        <div class="container px-0 mx-0 trick-card">
            <div class="row px-0 mx-0">
                <div class="imgHeroTrick" style="background: no-repeat url('/uploads/coverImage/{{figure.coverImage}}'); background-size: cover;">
                    <h1>{{figure.name}}</h1>
                </div>
            </div>
            <div class="manageImageHero">
                <a href="#" class="btn btn-info">
			        <i class="fas fa-edit"></i>
				</a>
				<a href="#" class="btn btn-danger">
					<i class="fas fa-trash-alt"></i>
				</a>
            </div>    
        </div>

		{# <div style="display:flex; justify-content:center;">
			<button class="btn btn-primary my-3" id="add-media" data-total-page="" data-next-page="" data-figure-ajax="">Charger plus</button>
		</div> #}

        <div class="container bg bg-warning">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% for illustration in illustrations %}
                        <div class="carousel-item {% if loop.first %} active {% endif %}">
                            <div class="row mx-0 px-0 d-flex justify-content-evenly align-items-center">
                                <div class="item-carousel col-sm-12 col-md-2 col-lg-2"><img class="img-carousel" src="{{illustration}}" alt="img"></div>
                                <div class="item-carousel col-sm-12 col-md-2 col-lg-2"><img class="img-carousel" src="{{illustration}}" alt="img"></div>
                                <div class="item-carousel col-sm-12 col-md-2 col-lg-2"><img class="img-carousel" src="{{illustration}}" alt="img"></div>
                                <div class="item-carousel col-sm-12 col-md-2 col-lg-2"><img class="img-carousel" src="{{illustration}}" alt="img"></div>
                                <div class="item-carousel col-sm-12 col-md-2 col-lg-2"><img class="img-carousel" src="{{illustration}}" alt="img"></div>
                                <div class="item-carousel col-sm-12 col-md-2 col-lg-2"><img class="img-carousel" src="{{illustration}}" alt="img"></div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
{% endblock %}


{# {% block javascripts %}
	<script type="text/javascript">
		const element = document.querySelector('#add-media');
        const containerAddMedias = document.querySelector('#container-add-medias');
		const loader = document.querySelector('.loading');

        element.addEventListener('click', async (e) => { 
		loader.style.display='block';	
        const totalPage = e.target.dataset.totalPage;
        const nextPage = e.target.dataset.nextPage;
        const urlToCallAjax = e.target.dataset.figureAjax;
        //Asynchrone response ajax
        const response = await fetch(`${urlToCallAjax}?page=${nextPage}`);
        console.log(response);

            if(response.ok) {
                loader.style.display='none';
                const data = await response.json();
                // if all page display thon disabled button
                if((Number(nextPage)) === Number(totalPage)) {
                    element.disabled = true;
                }
                // else increment to one the attribute value "data-next-page" in tag button
                element.dataset.nextPage = Number(nextPage) + 1;
                //add figures bellow page
                containerfigures.innerHTML += data.html;
            }

        });

	</script>
{% endblock %} #}