{% extends "base.html.twig" %}
{% block title %}Modification illustration trick{% endblock %}

{% block body %} 
<div class="container-fluid mx-0 my-0 px-0 mx-0" id="register">
    <div class="container-fluid container-body">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="container card rounded shadow p-3 mb-5">
                    <h2 class="text-center">Modifier l'illustration de la figure {{currentfigure.name}}</h2>
                    {{form_start(formEditMediasTrick)}}
                    <ul class="illustrations" data-index="{{ formEditMediasTrick.illustrations|length > 0 ? formEditMediasTrick.illustrations|last.vars.illustrations + 1 : 0 }}" data-prototype="{{ form_widget(formEditMediasTrick.illustrations.vars.prototype)|e('html_attr') }}"></ul>
                    <button type="button" class="add_item_link_image btn btn-lg btn-secondary btn-block mb-3" data-collection-holder-class="illustrations">Ajouter une image</button>
                    <button class="btn btn-lg btn-primary btn-block mb-3" type="submit">Valider</button>
                    {{form_end(formEditMediasTrick)}}
                </div>
            </div>
        </div>       
    </div>
</div>
{% endblock %} 
{% block javascripts %}
<script>

    const addFormToCollection = (e) => {
    const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);

    const item = document.createElement('li');

    item.innerHTML = collectionHolder
        .dataset
        .prototype
        .replace(
        /__name__/g,
        collectionHolder.dataset.index
        );

    collectionHolder.appendChild(item);

    collectionHolder.dataset.index++;

    };


    document.querySelectorAll('.add_item_link_image')
    .forEach(btn => btn.addEventListener("click", addFormToCollection));

    document.querySelectorAll('.add_item_link_video')
    .forEach(btn => btn.addEventListener("click", addFormToCollection));




</script>
{% endblock %}