{% extends "base.html.twig" %}
{% block title %}Création trick{% endblock %}

{% block body %} 
<div class="container-fluid mx-0 my-0 px-0 mx-0" id="register">
    <div class="container-fluid container-body">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="container card rounded shadow p-3 mb-5">
                    <h2 class="text-center">Création d'une figure</h2>
                    {{form_start(formTrick)}}
                        {{form_row(formTrick.name)}}
                        {{form_row(formTrick.coverImageFile)}}
                        {{form_row(formTrick.alternativeAttribute)}}
                        {{form_row(formTrick.description)}}
                        {{form_row(formTrick.figureGroup)}}
                    <ul class="illustrations" data-index="{{ formTrick.illustrations|length > 0 ? formTrick.illustrations|last.vars.name + 1 : 0 }}" data-prototype="{{ form_widget(formTrick.illustrations.vars.prototype)|e('html_attr') }}"></ul>
                    <button type="button" class="add_item_link_image btn btn-lg btn-secondary btn-block mb-3" data-collection-holder-class="illustrations">Ajouter une image</button>
                    <ul class="videos" data-index="{{ formTrick.videos|length > 0 ? formTrick.videos|last.vars.name + 1 : 0 }}" data-prototype="{{ form_widget(formTrick.videos.vars.prototype)|e('html_attr') }}"></ul>
                    <button type="button" class="add_item_link_video btn btn-lg btn-secondary btn-block mb-3" data-collection-holder-class="videos">Ajouter une vidéo</button>
                    <button class="btn btn-lg btn-primary btn-block mb-3" type="submit">Valider</button>
                    {{form_end(formTrick)}} 
                </div>
            </div>
        </div>       
    </div>
</div>
{% endblock %} 

	{% block javascripts %}
		<script type="text/javascript" src="/js/addformTocollection.js"></script>
		<script type="text/javascript" src="/js/deleteformTocollection.js"></script>
	{% endblock %}